/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 32px !important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: $bg-primary;
  .logoBox{
    margin-bottom: 32px;
  }
  .logo{
    color: $darkgreen;
    padding: 2px;
    margin-right: 6px;
    vertical-align: middle;
  }
  h1{
    font-size: 24px;
    line-height: 40px;
    display: inline-block;
  }
  ul {
    a {
      display: inline-block;
      font: normal normal bold 16px/24px Lato;
    }
    a:hover{
      color: $darkgreen;
    }
    .material-icons{
      margin-right: 16px;
    }
  }
  .userPhoto{
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
}

.material-icons{
  vertical-align: middle !important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 140px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.list-group{
  .list-group-item{
    background-color: $bg-primary !important;
    border: none !important;
  }
  .list-group-item-action {
    font: normal normal bold 16px/24px Lato;
    color: #000;
  }
  .list-group-item-action:hover {
    color: $darkgreen;
    background-color: $bg-primary !important;
  }
}




